@model WebStore.Models.DetailOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DetailOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Ten_Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Ten_Product)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_DeOr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
