@model IEnumerable<WebStore.Models.DetailOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Ten_Product)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Ten_Product)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_DeOr }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_DeOr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_DeOr })
        </td>
    </tr>
}

</table>
